app-search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
}
app-weather-display{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
