body{
  background: url("./assets/clouds-summer-weather-5k-1b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
